.my-bg-fizz{
    background-color:#0DD99F;
}
.my-bg-buzz{
    background-color:#F2C063;
}
.my-bg-fizzbuzz{
    background-color:#F24976;
}

.my-bg-body{
    background-color: #073540 ;
}

.my-bg-box{
    background-color:#148BA6 ;
}

.my-box{
    width:calc(100%/7 - 10px);
    margin: 5px;
    
}