h1{
    font-size: 3.5em;
    font-weight: 700;
}
.my-bg-fizz{
    background-color:#0DD99F;
}
.my-bg-buzz{
    background-color:#F2C063;
}
.my-bg-fizzbuzz{
    background-color:#F24976;
}

.my-bg-body{
    background-color: #073540 ;
}

.my-bg-box{
    background-color:#148BA6 ;
}

.my-box{
    width:calc(100%/7 - 20px);
    margin: 10px;
    height: 120px;
    transition: 1s;
    
}

.my-box:hover{
    transform: scale(1.2);
    border: 5px solid  #073540 ;
    font-size: 900 ;
}


@media screen and (max-width:1024px ) {
    .my-box{
        width:calc(100%/5 - 10px);
        height: 100px;
        margin: 5px;
        
    }
}

@media screen and (max-width:769px ) {
    .my-box{
        width:calc(100%/4 - 6px);
        height: 90px;
        margin: 3px;
        
    }
}

@media screen and (max-width:426px ) {
    .my-box{
        width:calc(100%/3 - 10px);

        margin: 5px;
        
    }
}